* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    height: fit-content;
  }
  
body {
    color: #cad2c5;
    background-color: #cad2c5;
    position: relative;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  
 header {
    height: 100px;
    width: 100%;
    line-height: 50%;
    background-color: #2f3e46;
    padding: 2% 0%;
    margin-bottom: 5%;
    border-bottom: 10px solid #84a98c;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }

header h1 {
    color: #cad2c5;
    font-weight: bold;
    font-size: 36px;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 36px;
    color: #cad2c5;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }
  
.hero {
    background-image: url(../images/hero.jpeg);
    position: relative;
    width: 100vw;
    height: 35vh;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #2f3e46;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  } 

.headshot {
    position: absolute;
    top: 15%;
    left: 7%;
    border: #2f3e46 4px solid;
    height: 250px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;

  }

#about {
    float: none;
    width: 48%;
    padding: 40px;
    padding-left: 25%;
    padding-right: 25%;
    margin: 30px;
    margin-block: 20%;
    margin-right: 30px;
    margin-bottom: 0px;
    background-color: #52796f;
    line-height: 2;
    border: #2f3e46 4px solid;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  

#work {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left: 25%;
    padding-right: 28%;
    margin: 30px;
    margin-block: 5%;
    margin-right: 30px;
    margin-bottom: 5px;
    background-color: #52796f;
    line-height: 2;
    border: #2f3e46 4px solid;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

#contact {
    float: left;
    width: 90%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    margin:30px;
    margin-block: 5%;
    margin-right:30px;
    margin-bottom: 130px;
    background-color: #52796f;
    line-height:2;
    border: #2f3e46 4px solid;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    align-items: center;
    justify-content: space-evenly;
  }


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
    flex: 50%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
  }

figcaption {
    border: #2f3e46 4px solid;
    background-color: #354f52;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }

footer {
  background-color: #2f3e46;
  color: #cad2c5;
  position: fixed;
  margin-top: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  line-height: 50px;
  border-bottom: 10px solid #84a98c;
  text-align: center;
}


