* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: fit-content;
    color: #cad2c5;
    background-color: #cad2c5;
    position: relative;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  
 header {
    height: 100px;
    width: 100%;
    line-height: 50%;
    background-color: #2f3e46;
    padding: 2% 0%;
    margin-bottom: 5%;
    border-bottom: 10px solid #84a98c;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }

header h1 {
    color: #cad2c5;
    font-weight: bold;
    font-size: 36px;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #cad2c5;
  }
  
li {
    float: left;
  }
  
  a {
    color: #cad2c5;
  }
  
  a:hover {
    color: #84a98c;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 36px;
    color: #cad2c5;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }
  
.hero {
    background-image: url(../images/hero.jpeg);
    position: relative;
    width: 100vw;
    height: 35vh;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #2f3e46;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  } 

.headshot {
    position: absolute;
    top: 15%;
    left: 7%;
    border: #2f3e46 4px solid;
    height: 250px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;

  }

#about {
  float: left;
  padding: 40px;
  padding-left: 25vw;
  padding-right: 25vw;
  margin: 30px;
  background-color: #52796f;
  line-height: 2;
  border: #2f3e46 4px solid;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;  
  }
  

#work {
    padding: 40px;
    padding-left: 25vw;
    padding-right: 25vw;
    margin: 30px;
    background-color: #52796f;
    line-height: 2;
    border: #2f3e46 4px solid;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

#contact {
    margin: 30px;
    margin-top: 0vh;
    margin-bottom: 10vh;
    background-color: #52796f;
    line-height: 2;
    border: #2f3e46 4px solid;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    align-items: center;
    justify-content: space-evenly;
    float: left;
    width: 97vw;
    padding: 0;  
  }


figcaption {
    border: #2f3e46 4px solid;
    color: #cad2c5;
    background-color: #354f52;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }

footer {
  background-color: #2f3e46;
  color: #cad2c5;
  position: fixed;
  margin-top: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  line-height: 50px;
  border-bottom: 10px solid #84a98c;
  text-align: center;
}

.info {
  margin-top: 15%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}